<section class="recipeShow">
  <% if can? :read, @recipe %>
    <%= render @recipe %>
  <% else %>
    <p>
      Sorry, this recipe is not available for you! If you are this recipe's author, please
      <%= link_to "log in", new_user_session_path %>
      to see the recipe.
    </p>
  <% end %>

  <div>
    <%= button_to "Delete Recipe", @recipe, method: :delete, class:"link_Btn" %>
    <%= link_to "Back to Recipes List", recipes_path, class:"link_Btn" %>
  </div>
</section>
