<section class="shoppingList">
  <h4>Amount of food items to buy: <%= @foods_list.size %></h4>
  <h4>Total value of food needed: $<%= @total_price %></h4>
  <%= render "shopping_list", foods: @foods_list %>
</section>