<tr>
  <td><%=food.name%></td>
  <td><%=food.measurement_unit%></td>
  <td>$<%=food.price%></td>
  <td><%= button_to "Delete", "foods/#{food.id}", method: :delete, class:"foodIndex_deleteBtn"%></td>
</tr>