<table class="foodIndex table">
  <tr>
    <th>Food</th>
    <th>Measurement unit</th>
    <th>Unit price</th>
    <th>Actions</th>
  </tr>
  <% foods.each do |food| %>
      <%= render food %>
  <% end %>
</table>