/* food index section */
 .foodIndex {
    width: 100%;
    display: flex;
    flex-direction: column;
 }

 /* Add food button inside food index */
 .foodIndex :first-child {
    align-self: flex-end;
 }

 /* food index table */
 .foodIndex_table {
    align-self: center;
    border-collapse: collapse;
    width: 80%;
    text-align: left;
 }

/* food index table stripped */
.foodIndex_table tr:nth-child(odd) {
    background-color: #f2f2f2;
 }

 /* delete food button inside food index table */
 .foodIndex_deleteBtn {
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
    color: blue;
    text-decoration: underline;
 }


